body {
    position: relative;
    overflow-x: hidden !important;
    background-color: #fff !important;
    #navbar-user-name {
        h4 {
            font-size: larger !important;
        }
    }
}

/* global */
* {
    text-transform: capitalize !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover {
    text-decoration: none;
    color: black;
}
a {
    color: black !important;
}
.container-fluid {
    min-height: 100vh;
}

/* global */

/* body */
/* body */

/* navbar */
nav {
    .search {
        input {
            right: 30rem;
            border-radius: 20px !important;
            width: 30rem !important;
        }
    }
}
nav .links-search {
    width: 15rem !important;
}

nav li a {
    font-size: large;
    color: black;
}

/* navbar */

// user-signup-row
.user-signup-row {
    @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

    * {
        padding: 0;
        margin: 0;
        font-family: "Poppins", sans-serif;
    }
    .section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup-form-imag {
        background-image: url("../image/background/signup-image.webp");
        background-size: cover;
        background-repeat: no-repeat;
        a {
            color: black !important;
        }
    }

    .section .container {
        height: 500px;
        width: 800px;
        background-color: #fff;
        position: relative;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .section .container .form {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .section .container .left-side {
        width: 55%;
        background-color: #040387;
        height: 100%;
    }

    .section .container .left-side .content {
        color: #fff;
        letter-spacing: 1px;
        margin-top: 80px;
        padding: 10px 30px;
        text-align: center;
    }

    .section .container .left-side .social {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section .container .left-side .social .social-icons {
        list-style: none;
        display: flex;
    }

    .section .container .left-side .social .social-icons li {
        margin: 5px;
    }

    .section .container .left-side .social .social-icons a {
        color: #fff;
        transition: all 0.5s;
    }

    .section .container .left-side .social .social-icons a i {
        color: #fff;
        transition: all 0.5s;
    }

    .section .container .left-side .social .social-icons a:hover i {
        transform: rotate(360deg);
    }

    .section .container .left-side .social .terms {
        list-style: none;
        display: flex;
        margin-top: 3px;
    }

    .section .container .left-side .social .terms li .dots {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #eee;
        display: flex;
        margin: 12px 5px;
    }

    .section .container .left-side .social .terms li a {
        font-size: 12px;
        text-decoration: none;
        letter-spacing: 1px;
        color: #fff;
    }

    .section .container .left-side .content h5 {
        font-size: 19px;
    }

    .section .container .left-side .content p {
        font-size: 10px;
    }

    .section .container .right-side {
        width: 40%;
        background-color: #fff;
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section .container .right-side .forms {
        // padding-right: 20px;
        width: 100%;
    }

    .section .container .right-side .forms input {
        width: 100% !important;
        height: 45px;
        border: none;
        margin-bottom: 10px;
        padding: 0px 10px;
        border: 2px solid #eee;
        transition: all 0.5s;
        background-color: #e8f0fe;
        border-radius: 3px;
        outline: none;
        box-shadow: none;
    }

    .section .container .right-side .forms input[type="submit"] {
        width: 100%;
        background-color: #040387;
        border-radius: 5px;
        color: #fff;
        letter-spacing: 1px;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
    }

    .section .container .right-side .forms input[type="submit"]:hover {
        background-color: #020242;
    }

    .submit-button {
        width: 110%;
    }

    .section .container .right-side .forms input:focus {
        border: 2px solid #000 !important;
    }

    .strength-list {
        margin-left: 5px;
        list-style: none;
        margin-bottom: 5px;
    }

    .form-inputs {
        position: relative;
        width: 100% !important;
    }

    .form-inputs i {
        position: absolute;
        top: 14px;
        right: 10px;
        color: #dbdada;
        z-index: 1000;
    }

    .list-group i {
        font-size: 10px;
        color: #aaa;
    }

    .list-group span {
        font-size: 11px;
        color: #aaa;
        letter-spacing: 1px;
    }

    .green-color {
        color: green !important;
    }

    .random_password {
        margin-top: 5px;
        letter-spacing: 1px;
        font-size: 11px;
        cursor: pointer;
    }

    @media (max-width: 750px) {
        .section .container {
            max-width: 350px;
        }

        .section .container .left-side {
            display: none;
        }

        .section .container .right-side {
            width: 100%;
        }
    }
}
.admin-login-row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    .height-100 {
        height: 500px;
    }

    .sidebar {
        position: relative;
        overflow: hidden;
    }

    .chart-design {
        list-style: none;
    }

    .chart-design li:nth-child(1) {
        position: absolute;
        top: 10px;
        height: 100px;
        width: 100px;
        background-color: #b7c2d4;
        border-radius: 100% 0% 0% 100% / 0% 56% 44% 100%;
        opacity: 0.4;
    }

    .chart-design li:nth-child(2) {
        position: absolute;
        top: 30px;
        right: 20px;
        transform: rotate(-10deg);
        height: 70px;
        width: 70px;
        background-color: #000;
        border-radius: 100% 0% 0% 100% / 0% 56% 44% 100%;
        opacity: 0.4;
    }

    .chart-design li:nth-child(3) {
        position: absolute;
        bottom: 0px;
        left: 200px;
        transform: rotate(-10deg);
        height: 150px;
        width: 150px;
        background-color: #000;
        border-radius: 100% 0% 0% 100% / 0% 56% 44% 100%;
        opacity: 0.4;
    }

    .chart-design li:nth-child(4) {
        position: absolute;
        bottom: 0px;
        left: 10px;
        transform: rotate(-10deg);
        height: 150px;
        width: 150px;
        background-color: #000;
        border-radius: 50%;
        opacity: 0.4;
    }

    .chart-design li:nth-child(5) {
        position: absolute;
        bottom: 0px;
        right: 10px;
        transform: rotate(-10deg);
        height: 70px;
        width: 70px;
        background-color: #000;
        border-radius: 50%;
        opacity: 0.7;
    }

    .chart-design li:nth-child(6) {
        position: absolute;
        top: 120px;
        left: 40%;
        transform: rotate(-10deg);
        height: 200px;
        width: 200px;
        background-color: #000;
        border-radius: 50%;
        opacity: 0.2;
    }

    .form-data {
        width: 100%;
        margin-bottom: 10px;
    }

    .main-heading {
        font-size: 30px;
    }

    .form-data label {
        font-size: 13px;
        margin-left: 2px;
    }

    .form-data input {
        height: 50px;
        border: 2px solid #eee;
        transition: all 1s;
        border-radius: 5px;
    }

    .form-data input:focus {
        outline: none;
        border: 2px solid #000;
        box-shadow: none;
    }

    .social-list {
        padding: 0;
        list-style: none;
        display: flex;
    }

    .social-list li {
        margin: 5px;
        background-color: #b7c2d4;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition: all 0.5s;
        cursor: pointer;
        color: #fff;
    }

    .forgot-text {
        color: red;
    }

    .social-list li:nth-child(1) {
        background-color: #1828fe;
    }

    .social-list li:nth-child(2) {
        background-color: red;
    }

    .social-list li:nth-child(3) {
        background-color: #1828fe;
    }

    .signin-btn .btn {
        width: 100%;
        height: 46px;
        margin-top: 10px;
    }
}

/* login and signup form */
// user-login

/* login and signup form */
.product-container {
    position: relative;
}
/* card */
.card {
    height: fit-content;
}
.car-view {
    body {
        background: #e0e0e0;
    }
    .details {
        border: 1.5px solid grey;
        color: #212121;
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 10px #212121;
    }

    .cart {
        background-color: #212121;
        color: white;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 900;
        width: 100%;
        height: 39px;
        padding-top: 9px;
        box-shadow: 0px 5px 10px #212121;
    }

    .card {
        width: fit-content;
    }

    .card-body {
        width: fit-content;
    }

    .btn {
        border-radius: 0;
    }

    .img-thumbnail {
        border: none;
    }

    .card {
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding-bottom: 10px;
    }
}

/* my-ad-view */
/* user products view */

//   ///////////////////////////////////////  ADMIN

.user-status-true {
    height: 1rem;
    width: 1rem;
    color: transparent;
    border-radius: 25px;
    background-color: green;
}

.user-status-false {
    height: 1rem;
    color: transparent;
    width: 1rem;
    border-radius: 25px;
    background-color: red;
}

.user-heading {
    margin: 2rem 0 2rem 4rem;
}

/* single user */
.single-user {
    margin-left: 15rem;
    img {
        margin-top: 5rem;
        width: 18rem;
    }
    .user-data {
        position: relative;
        margin: 3rem 0 4rem 5rem;
        span {
            width: 50rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .value {
                width: 2.5rem;
            }
            address {
                position: absolute;
                margin-left: 47.5rem;
                margin-top: 8rem;
                word-wrap: normal;
                width: 20rem !important;
                border: 1px solid black;
            }
        }
        h5 {
            margin-top: 1rem;
        }
        .switch {
            border: solid 1px black;
            position: relative;
            width: 2rem;
            height: 0.7rem;
            background-color: gainsboro;
            border-radius: 15px;
            span {
                transition: all 0.5s ease-in-out;
                position: absolute;
                height: 1.3rem;
                width: 1.3rem;
                margin-left: -0.5rem;
                background-color: rgb(116, 194, 0);
                border-radius: 25px;
                border: solid 1px black;
            }
        }
    }
}

.btn-clicked {
    position: absolute !important;
    height: 1.3rem !important;
    width: 1.3rem !important;
    margin-left: 1rem !important;
    background-color: red !important;
    border-radius: 25px !important;
    border: solid 1px black !important;
}
/* single user */

// OTP LOGIN

//////// ADD PRODUCTS
.add-product-container {
    .row {
        height: fit-content;
        margin: 4rem 0.5rem 0.5rem 0.5rem;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 1px 1px 15px 1px rgb(87, 87, 87);
        .my-coll {
            padding: 1rem;
        }
        .my-sec {
            box-shadow: 1px 1px 8px 1px rgb(87, 87, 87);
            padding: 1.5rem;
            border-radius: 1rem;
            overflow: hidden;
            margin: 1rem;
            h2 {
                padding: 0;
                margin: 0;
            }
        }
        #main-image-container {
            display: flex;
            #input-main-img {
                position: relative;
                height: 15rem;
                width: 15rem;
                border-radius: 0.7rem;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .btns {
                margin-left: 2rem;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                a {
                    text-decoration: none;
                    color: black;
                    padding: 0.4rem 1.7rem;
                    width: 7rem;
                    text-align: center;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: color 0.5s ease-in-out;
                    }
                }
                a::before {
                    content: "";
                    position: absolute;
                    transition: width 0.7s ease-in-out;
                    height: 100%;
                    width: 1px;
                    background-color: black;
                    left: 0;
                    z-index: -1;
                    opacity: 0.5;
                }
                a::after {
                    content: "";
                    position: absolute;
                    transition: width 0.7s ease-in-out;
                    height: 100%;
                    width: 1px;
                    background-color: black;
                    right: 0;
                    z-index: -1;
                    opacity: 0.5;
                }
                a:hover::before {
                    width: 100%;
                }
                a:hover::after {
                    width: 100%;
                }
                a:hover {
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
        #sub-image-container {
            width: 25rem;
            height: 15rem;
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
            .sub-image {
                border-radius: 1rem;
                overflow: hidden;
                margin: 1rem;
                width: 5rem;
                height: 5rem;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        #edit-sub-image-container {
            width: 35rem;
            height: 15rem;
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
            .sub-image {
                border-radius: 1rem;
                overflow: hidden;
                margin: 1rem;
                width: 5rem;
                height: 5rem;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        #sub-image-container::-webkit-scrollbar {
            display: none;
        }
        .item-size-container {
            text-align: center;
            .form-check-inline {
                display: flex;
                align-items: center;
            }
            .product-size-container {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
            label {
                margin: 0 0.2rem;
            }
        }
        .my-category {
            width: 40rem;
            overflow-x: auto;
            height: 6.5rem;
            margin-left: 6rem;
            padding: 1rem 1rem 1rem 2rem;
            .my-category-check {
                margin-top: 0.2rem;
            }
        }
        .my-category::-webkit-scrollbar {
            display: none;
        }
    }
    .main-image-edit {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.53;
        display: none;
        color: #fff;
        background-color: black;
    }
    #bler-container {
        position: fixed;
        height: 100vh;
        transition: all ease-in-out 0.2s;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: -1;
        #edit-image-container {
            position: fixed;
            top: 15rem;
            left: 32rem;
            height: 30rem;
            width: 50rem;
            padding: 1rem;
            border-radius: 14px;
            background-color: #fff;
            box-shadow: 1px 1px 15px 1px rgb(87, 87, 87);
            transition: all ease-in-out 0.2s;
            opacity: -1;
            z-index: -1;
            .images {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .main-image-container {
                    border: 1px solid black;
                    width: 20rem;
                    height: 20rem;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                    }
                }
                #controllers {
                    .zoom-and-zoomout {
                        display: flex;
                        justify-content: space-between;
                        div {
                            width: 2rem;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .btns {
                        width: 10rem;
                        height: 10rem;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        div {
                            width: 2rem;
                            img {
                                width: 100%;
                            }
                        }
                        .btnLeftAndRight {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                        .btnTop {
                            img {
                                transform: rotate(-90deg);
                            }
                        }
                        .btnLeft {
                            img {
                                transform: rotate(180deg);
                            }
                        }
                        .btnBottom {
                            img {
                                transform: rotate(90deg);
                            }
                        }
                    }
                }

                .previw-container {
                    width: 10rem;
                    height: 10rem;
                    .image-previw {
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .image-edit-footer {
                display: flex;
                justify-content: space-between;
                margin-top: 3rem;
                .image-resalutions {
                    span {
                        cursor: pointer;
                        border: 1px solid black;
                        padding: 0.5rem 1rem;
                        margin: 0 0.7rem;
                    }
                }
                .image-edit-btns {
                    button {
                        margin: 0 0.5rem;
                    }
                }
            }
        }
    }
}

// product detailed view
body {
    background-color: #000;
}
.card {
    border: none;
}
.product {
    height: 100% !important;
    background-color: #eee;
}
.brand {
    font-size: 13px;
}
.act-price {
    color: red;
    font-weight: 700;
}
.dis-price {
    text-decoration: line-through;
}
.about {
    font-size: 14px;
}
.color {
    margin-bottom: 10px;
}
label.radio {
    cursor: pointer;
}
label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}
label.radio span {
    padding: 2px 9px;
    border: 2px solid #ff0000;
    display: inline-block;
    color: #ff0000;
    border-radius: 3px;
    text-transform: uppercase;
}
label.radio input:checked + span {
    border-color: #ff0000;
    background-color: #ff0000;
    color: #fff;
}
.btn-danger {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
}
.btn-danger:hover {
    background-color: #da0606 !important;
    border-color: #da0606 !important;
}
.btn-danger:focus {
    box-shadow: none;
}
.cart i {
    margin-right: 10px;
}
// product detailed view

// cart
.user-cart-main-container {
    min-height: 100vh !important;
    .card-body {
        height: fit-content !important;
        position: relative;
    }
    .cart-info-card {
        height: fit-content;
    }
}
// cart

// admin-panel
.admin-panel {
    height: 80vh;
    .row {
        margin: 2rem 0;
    }
    .my-call {
        display: flex;
        justify-content: center;
    }
    .info-card {
        padding: 2rem 1.5rem;
        border-radius: 1rem;
        background-color: moccasin;
        .data {
            margin: 1rem 0 0 1rem;
            display: flex;
            justify-content: space-between;
            width: 25rem;
        }
    }
}
// admin-panel

// admin-products-table-view
#admin-product-table {
    margin-top: 1rem;
}
.admin-products-table-view {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 3rem;
    }
}
// admin-products-table-view

// admin-prodect-view-and-edit

// admin-prodect-view-and-edit
