#user-navbar {
    background: #A2D2FF;
    #search {
        border-radius: 25px;
        padding: 0 1rem;
        background: #fff;
        img {
            width: 1.2rem;
        }
        input {
            font-size: larger;
            width: 30rem;
            border: none;
            outline: none;
            height: 2rem;
        }
    }
}
